# Python virtual environment
envi/
venv/
ENV/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Node (if frontend exists)
node_modules/
dist/

# Build / compiled stuff
*.log
